<!-- Profile Image -->
<div class="box box-warning">
    <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{{ user.AvatarImgUrl }}" alt="User profile picture">
        <h3 class="profile-username text-center">{% trans with {'%name%': user.commanderName} %}CMDR %name%{% endtrans %}</h3>
        <p class="text-muted text-center">{{ user.rank.name|trans }}</p>
    </div>
    <div class="box-header with-border">{% trans %}Rank{% endtrans %}</div>
    <div class="box-body">
        <div class="clearfix">
            <span class="pull-left">{% trans %}Combat{% endtrans %}</span>
            <small class="pull-right">{{ user.commander.combat.name|default('No Data')|trans }}</small>
        </div>
        <div class="progress xs">
            <div class="progress-bar progress-bar-warning" style="width: {{ user.commander.combatProgress }}%;"></div>
        </div>
        <div class="clearfix">
            <span class="pull-left">{% trans %}Trade{% endtrans %}</span>
            <small class="pull-right">{{ user.commander.trade.name|default('No Data')|trans }}</small>
        </div>
        <div class="progress xs">
            <div class="progress-bar progress-bar-warning" style="width: {{ user.commander.tradeProgress }}%;"></div>
        </div>
        <div class="clearfix">
            <span class="pull-left">{% trans %}Exploration{% endtrans %}</span>
            <small class="pull-right">{{ user.commander.explore.name|default('No Data')|trans }}</small>
        </div>
        <div class="progress xs">
            <div class="progress-bar progress-bar-warning" style="width: {{ user.commander.exploreProgress }}%;"></div>
        </div>
        <div class="divider"></div>
        <div class="clearfix">
            <span class="pull-left">{% trans %}Federation{% endtrans %}</span>
            <small class="pull-right">{{ user.commander.federation.name|default('No Data')|trans }}</small>
        </div>
        <div class="progress xs">
            <div class="progress-bar progress-bar-warning" style="width: {{ user.commander.federationProgress }}%;"></div>
        </div>
        <div class="clearfix">
            <span class="pull-left">{% trans %}Empire{% endtrans %}</span>
            <small class="pull-right">{{ user.commander.empire.name|default('No Data')|trans }}</small>
        </div>
        <div class="progress xs">
            <div class="progress-bar progress-bar-warning" style="width: {{ user.commander.empireProgress }}%;"></div>
        </div>
        <div class="clearfix">
            <span class="pull-left">{% trans %}CQC{% endtrans %}</span>
            <small class="pull-right">{{ user.commander.cqc.name|default('No Data')|trans }}</small>
        </div>
        <div class="progress xs">
            <div class="progress-bar progress-bar-warning" style="width: {{ user.commander.cqcProgress }}%;"></div>
        </div>
    </div>
    <div class="box-header with-border">{% trans %}Wealth{% endtrans %}</div>
    <div class="box-body">
        <div class="clearfix">
            <span class="pull-left">{% trans %}Total Asset{% endtrans %}</span>
            <span class="pull-right">{{ user.commander.asset|default('No Data')|localizednumber }}</span>
        </div>
        <div class="clearfix">
            <span class="pull-left">{% trans %}Credit{% endtrans %}</span>
            <span class="pull-right">{{ user.commander.credits|default('No Data')|localizednumber }}</span>
        </div>
        <div class="clearfix">
            <span class="pull-left">{% trans %}Loan{% endtrans %}</span>
            <span class="pull-right">{{ user.commander.loan|default('No Data')|localizednumber }}</span>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->