{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-3">
            {% set user = app.user %}
            {{ include('members/profile_sidebar.html.twig') }}
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#my-account" data-toggle="tab">{% trans %}My Account{% endtrans %}</a></li>
                    <li><a href="#user-avatar" data-toggle="tab">{% trans %}User Avatar{% endtrans %}</a></li>
                    <li><a href="#role-tags" data-toggle="tab">{% trans %}Role Tags{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="my-account">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i
                                            class="fa fa-key margin-r-5"></i> {% trans %}Change Password{% endtrans %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form action="{{ path('app_profile_updatepw') }}" method="post" class="form-horizontal">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control input-sm"
                                                       id="current-password" name="current_password"
                                                       placeholder="{% trans %}Current Password{% endtrans %}">
                                                <small>{% trans %}Enter your current password.{% endtrans %}</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control input-sm" id="new-password"
                                                       name="new_password"
                                                       placeholder="{% trans %}New Password{% endtrans %}">
                                                <small id="new-password-message">{% trans %}Enter a new password.{% endtrans %}</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control input-sm"
                                                       id="verify-password" name="verify_password"
                                                       placeholder="{% trans %}Verify Password{% endtrans %}">
                                                <small id="verify-password-message">{% trans %}Re-type the new password to verify.{% endtrans %}</small>
                                            </div>
                                        </div>
                                        <input type="hidden" name="_token" value="{{ csrf_token('change_password') }}">
                                    </div>
                                    <div class="col-md-6">
                                        {#<p>When choosing a new password, please consider the following:</p>#}
                                        <ul style="padding-left: 15px;">
                                            <li>{% trans %}Use 8 to 64 characters{% endtrans %}</li>
                                            <li>{% trans %}Besides letters, include at least a number or symbol{% endtrans %}</li>
                                            <li>{% trans %}Password is case sensitive{% endtrans %}</li>
                                            <li>{% trans %}Password is not part of your username{% endtrans %}</li>
                                            <li>{% trans %}Password is not part of old password{% endtrans %}</li>
                                            <li>{% trans %}Avoid using the same password for multiple sites{% endtrans %}</li>
                                            <li>{% trans %}Password strength is either good or strong{% endtrans %}</li>
                                        </ul>
                                    </div>
                                </div>
                                <button id="change-password-button" type="submit"
                                        class="btn btn-default btn-flat pull-right"
                                        disabled="disabled">{% trans %}Change Password{% endtrans %}</button>
                                <button id="reset-button" type="reset"
                                        class="btn btn-primary btn-flat pull-right margin-r-5">{% trans %}Reset{% endtrans %}</button>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i
                                            class="fa fa-unlock-alt margin-r-5"></i> {% if app.user.isgoogleauthenticatorenabled %}{% trans %}Deactivate Two-Factor Authentication{% endtrans %}{% else %}{% trans %}Activate 2-Factor Authentication{% endtrans %}{% endif %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    {% if app.user.isgoogleauthenticatorenabled %}
                                        <p class="text-green">{% trans %}2fa_active{% endtrans %}</p>
                                        <p>{{ '2fa_instructions1'|trans|markdown }}</p>
                                        <form action="{{ path('app_deactivate_2fa') }}" method="post">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('deactivate_2fa') }}">
                                            <button type="submit"
                                                    class="btn btn-danger btn-flat pull-right">{% trans %}Deactivate 2FA{% endtrans %}</button>
                                        </form>
                                    {% else %}
                                        <p>{{ '2fa_instructions1'|trans|markdown }}</p>
                                        <p>{{ '2fa_instructions2'|trans|markdown }}</p>
                                        <button id="activate-2fa-button" type="submit"
                                                class="btn btn-default btn-flat pull-right">{% trans %}Activate 2FA{% endtrans %}</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i
                                            class="fa fa-trash-alt margin-r-5"></i> {% trans %}Purge Commander Data{% endtrans %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <p>{% trans %}purge_commander_data_body{% endtrans %}</p>
                                    <form method="post" action="{{ path('app_profile_purge_data') }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('purge_data') }}">
                                        <input id="purge-confirm" type="checkbox" name="confirmed" value="1">
                                        <b>{% trans %}I understand that by purging the data, it is irreversible.{% endtrans %}</b>
                                        <br>
                                        <button id="purge-button" type="submit"
                                                class="btn btn-danger btn-flat pull-right"
                                                disabled="disabled">{% trans %}Purge the Data{% endtrans %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i
                                            class="fa fa-sign-out-alt margin-r-5"></i> {% trans %}Leave Squadron{% endtrans %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    {% if app.user.id == app.user.squadron.admin.id %}
                                        <p>{% trans %}leave_squadron_body_owner{% endtrans %}</p>
                                    {% else %}
                                        <p>{% trans %}leave_squadron_body{% endtrans %}</p>
                                        <form method="post" action="{{ path('app_leave_squadron') }}">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('leave_squadron') }}">
                                            <input id="leave-confirm" type="checkbox" name="confirmed" value="1">
                                            <b>{% trans %}I understand that by leaving the squadron, I may not be able to rejoin this squadron.{% endtrans %}</b>
                                            <br>
                                            <button id="leave-button" type="submit"
                                                    class="btn btn-danger btn-flat pull-right"
                                                    disabled="disabled">{% trans %}Leave this Squadron{% endtrans %}</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="user-avatar">
                        <div class="jumbotron">
                            <h1>// To Do</h1>
                            <p>Placeholder for future addition</p>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="role-tags">
                        <div class="jumbotron">
                            <h1>// To Do</h1>
                            <p>Placeholder for future addition</p>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
    <div id="activate-2fa-qrcode" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-sm" role="document">
            <form action="{{ path('app_profile_verify_2fa') }}" method="post" autocomplete="off">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title"><i
                                    class="fas fa-unlock-alt margin-r-5"></i> {% trans %}Activate 2FA{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center">
                                <div id="qrcode">
                                    <i class="fas fa-lg fa-spinner fa-spin margin-r-5"></i> {% trans %}Loading...{% endtrans %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center">
                                <div class="form-group-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon"><i class="fas fa-key"></i></div>
                                        <input autocomplete="off" type="text" pattern="\d*" class="form-control"
                                               name="google_2fa" maxlength="6"
                                               placeholder="{% trans %}Enter 2FA Code{% endtrans %}"
                                               required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_token" value="{{ csrf_token('verify_2fa') }}">
                        <input type="hidden" id="secret_2fa" name="secret" value="">
                        <button type="button" class="btn btn-sm btn-primary"
                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                        <button type="submit" class="btn btn-sm btn-default" name="verify_code"
                                value="1">{% trans %}Activate{% endtrans %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/password_change.js') }}"></script>
    <script>
        const AJAX_URL = '{{ path('ajax_password_strength', {'_locale': app.request.attributes.get('_locale')}) }}';

        $('#activate-2fa-button').on('click', function () {
            getQRCode();
            $('#activate-2fa-qrcode').modal();
        });

        $('#purge-confirm').on('change', function (e) {
            e.preventDefault();
            if ($('#purge-confirm').is(':checked')) {
                $('#purge-button').removeAttr('disabled');
            } else {
                $('#purge-button').attr('disabled', 'disabled');
            }
        });

        $('#leave-confirm').on('change', function (e) {
            e.preventDefault();
            if ($('#leave-confirm').is(':checked')) {
                $('#leave-button').removeAttr('disabled');
            } else {
                $('#leave-button').attr('disabled', 'disabled');
            }
        });

        function getQRCode() {
            $.ajax({
                type: "POST",
                url: "{{ path('ajax_activate_2fa') }}",
                data: {
                    _token: "{{ csrf_token('activate_2fa') }}"
                },
                success: function (result) {
                    if (result.status == 200) {
                        $('#qrcode').html(result.content);
                        $('#secret_2fa').val(result.secret);
                    } else {
                        console.log('Error: ' + result.errorMessage);
                    }
                },
                error: function (result) {
                    console.log('Error thrown.');
                }
            });
        }
    </script>
{% endblock %}

