{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-3">
            {% set user = app.user %}
            {{ include('members/profile_sidebar.html.twig') }}
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#my-account" data-toggle="tab">{% trans %}My Account{% endtrans %}</a></li>
                    <li><a href="#user-avatar" data-toggle="tab">User Avatar</a></li>
                    <li><a href="#role-tags" data-toggle="tab">Role Tags</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="my-account">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i
                                            class="fa fa-key margin-r-5"></i> {% trans %}Change Password{% endtrans %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form action="{{ path('app_profile_updatepw') }}" method="post" class="form-horizontal">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control input-sm" id="current-password" name="current_password" placeholder="Current Password">
                                                <small>{% trans %}Enter your current password.{% endtrans %}</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control input-sm" id="new-password" name="new_password" placeholder="New Password">
                                                <small id="new-password-message">{% trans %}Enter a new password.{% endtrans %}</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control input-sm" id="verify-password" name="verify_password" placeholder="Verify Password">
                                                <small id="verify-password-message">{% trans %}Re-type the new password to verify.{% endtrans %}</small>
                                            </div>
                                        </div>
                                        <input type="hidden" name="_token" value="{{ csrf_token('change_password') }}">
                                    </div>
                                    <div class="col-md-6">
                                        {#<p>When choosing a new password, please consider the following:</p>#}
                                        <ul style="padding-left: 15px;">
                                            <li>{% trans %}Use 8 to 64 characters{% endtrans %}</li>
                                            <li>{% trans %}Besides letters, include at least a number or symbol{% endtrans %}</li>
                                            <li>{% trans %}Password is case sensitive{% endtrans %}</li>
                                            <li>{% trans %}Password is not part of your username{% endtrans %}</li>
                                            <li>{% trans %}Password is not part of old password{% endtrans %}</li>
                                            <li>{% trans %}Avoid using the same password for multiple sites{% endtrans %}</li>
                                            <li>{% trans %}Password strength is either good or strong{% endtrans %}</li>
                                        </ul>
                                    </div>
                                </div>
                                <button id="change-password-button" type="submit"
                                        class="btn btn-default btn-flat pull-right"
                                        disabled="disabled">{% trans %}Change Password{% endtrans %}</button>
                                <button id="reset-button" type="reset"
                                        class="btn btn-primary btn-flat pull-right margin-r-5">{% trans %}Reset{% endtrans %}</button>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i
                                            class="fa fa-trash-alt margin-r-5"></i> {% trans %}Purge Commander Data{% endtrans %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <p>{% trans %}purge_commander_data_body{% endtrans %}</p>
                                    <form method="post" action="{{ path('app_profile_purge_data') }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('purge_data') }}">
                                        <input id="purge-confirm" type="checkbox" name="confirmed" value="1">
                                        <b>{% trans %}I understand that by purging the data, it is irreversible.{% endtrans %}</b>
                                        <br>
                                        <button id="purge-button" type="submit"
                                                class="btn btn-danger btn-flat pull-right"
                                                disabled="disabled">{% trans %}Purge the Data{% endtrans %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="user-avatar">
                        <div class="jumbotron">
                            <h1>// To Do</h1>
                            <p>Placeholder for future addition</p>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="role-tags">
                        <div class="jumbotron">
                            <h1>// To Do</h1>
                            <p>Placeholder for future addition</p>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/password_change.js') }}"></script>
{% endblock %}

