{% extends 'security/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('addons/iCheck/square/blue.css') }}">
{% endblock %}
{% block class %} register-page{% endblock %}
{% block body %}
<div class="register-box">
    {% include 'security/logo.html.twig' %}
    <div class="register-box-body">
        {% if error %}
            {% include 'error2.html.twig' %}
        {% endif %}
        <p class="login-box-msg">{% trans %}Register a new Squadron Member{% endtrans %}</p>

        <form action="{{ path('app_new_member') }}" method="post">
            <div class="form-group has-feedback">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('new_acct') }}">
                <input type="text" name="commander_name" value="{{ app.request.get('commander_name') }}"
                       class="form-control" placeholder="{% trans %}Commander Name (without CMDR){% endtrans %}">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" name="email" value="{{ app.request.get('email') }}" class="form-control"
                       placeholder="{% trans %}Email{% endtrans %}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password1" class="form-control"
                       placeholder="{% trans %}Password{% endtrans %}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password2" class="form-control"
                       placeholder="{% trans %}Retype password{% endtrans %}">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input name="_terms" type="checkbox"> {% trans %}I agree to the terms{% endtrans %}
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit"
                            class="btn btn-primary btn-block btn-flat">{% trans %}Register{% endtrans %}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        {#<div class="social-auth-links text-center">#}
            {#<p>- OR -</p>#}
            {#<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using#}
                {#Google+</a>#}
        {#</div>#}

        <a href="{{ path('app_login') }}" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock %}
{% block javascript %}
{{ parent() }}
<!-- iCheck -->
<script src="{{ asset('addons/iCheck/icheck.min.js') }}"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>
{% if error %}
<script>
$('#errorModal').modal('show');
</script>
{% endif %}
{% endblock %}
