{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css"/>
{% endblock %}
{% block content %}
    {% include 'admin/comment_dialog.html.twig' %}
    <div class="content">
        <div class="box box-warning">
            <div class="box-header with-border pb-2">
                <h3 class="box-title"><i
                            class="ed-asset ed-asset-lg ed-asset-icon-members margin-r-5"></i>{% trans %}Squadron Members{% endtrans %}
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}#{% endtrans %}</th>
                        <th>{% trans %}Commander Name{% endtrans %}</th>
                        <th>{% trans %}Rank{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                        <th>{% trans %}Join Date{% endtrans %}</th>
                        <th>{% trans %}Last Login{% endtrans %}</th>
                        <th>{% trans %}Action{% endtrans %}</th>
                    </tr>
                    </thead>
                    <!-- /.tr Header -->
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- ./box-body -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
    <script>
        $('#table').DataTable({
            columnDefs: [
                {name: "id", targets: 0},
                {name: "commander_name", targets: 1},
                {name: "rank", targets: 2},
                {name: "status", targets: 3},
                {name: "join_date", targets: 4},
                {name: "last_login_at", targets: 5},
                {name: "action", orderable: false, targets: 6}
            ],
            columns: [
                {data: "id", width: "30px"},
                {data: "commander_name"},
                {data: "rank", width: "85px"},
                {data: "status", width: "55px" },
                {data: "join_date", width: "100px"},
                {data: "last_login_at", width: "100px"},
                {data: "action", width: "75px"}
            ],
            serverSide: true,
            processing: false,
            ajax: {
                url: "{{ path('ajax_members', {'token': csrf_token('ajax_members')}) }}",
                type: "POST"
            },
            paging: true,
            autoWidth: false,
            info: true,
            searching: true,
            searchDelay: 400,
            pageLength: 10,
            order: [[1, 'asc']],
            dom: "<'row'<'col-sm-6'i><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'l><'col-sm-7'p>>",
            // dom: '<"top"i>rt<"bottom"flp><"clear">',
            language: {
                lengthMenu: {% include 'datatables_length_menu.html.twig' %},
                search: '_INPUT_',
                searchPlaceholder: '{% trans %}Search...{% endtrans %}',
                paginate: {
                    first: '{% trans %}First{% endtrans %}',
                    previous: '{% trans %}Previous{% endtrans %}',
                    next: '{% trans %}Next{% endtrans %}',
                    last: '{% trans %}Last{% endtrans %}'
                }
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({
                    width: '200px', display: 'inline-block'
                });
            },
            drawCallback: function () {
                $('.dataTables_paginate > .pagination').addClass('pagination-sm');
                $(".action-button")
                    .click(function(e) {
                        e.preventDefault();
                        console.log('Clicked here.');
                        admin_action($(this).data("squadron-id"), $(this).data("action"));
                    });
            }
        });

        function admin_action(id, action) {
            $.ajax({
                type: "POST",
                url: "{{ path('ajax_manage_member') }}",
                data: {
                    _token: "{{ csrf_token('manage_member') }}",
                    id: id,
                    action: action
                },
                success: function (result) {
                    if(result.status == 200) {
                        $('#table').DataTable().ajax.reload();
                        if(result.require_reason == true) {
                            $('#reasonCommentModal').modal('show');
                            $('#squadron_id').val(id);
                        }
                    }
                    else {
                        $('#errorMessage').replaceWith(result.errorMessage);
                        $('#errorModal').modal('show');
                    }
                },
                error: function (result) {
                    console.log('Error thrown.');
                }
            });
        }

        function save_reason_comment(id, comment) {
            $.ajax({
                type: "POST",
                url: "{{ path('ajax_manage_member_comment') }}",
                data: {
                    _token: "{{ csrf_token('save_comment') }}",
                    id: id,
                    comment: comment
                },
                success: function (result) {
                    if(result.status == 200) {
                        $('#table').DataTable().ajax.reload();
                    }
                    else {
                        console.log('Error.');
                    }
                },
                error: function (result) {
                    console.log('Error thrown.');
                }
            });
        }

        $('#save-button').on('click', function (e) {
            e.preventDefault();
            save_reason_comment($('#squadron_id').val(), $('#reason-comment').val());
            $('#reason-comment').val('');
            $('#reasonCommentModal').modal('hide');
        });

    </script>
{% endblock %}