{% extends 'base.html.twig' %}

{% block title %}{{ title|default('Squadron Settings')}}!{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-3">
            {% include 'squadron_profile.html.twig' %}
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">{% trans %}Squadron Details{% endtrans %}</a></li>
                    <li><a href="#tags" data-toggle="tab">{% trans %}Manage Tags{% endtrans %}</a></li>
                    <li><a href="#ranks" data-toggle="tab">{% trans %}Ranks{% endtrans %}</a></li>
                    <li><a href="#roles" data-toggle="tab">{% trans %}Roles{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="details">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-squadrons margin-r-5 panel-title"></i> {% trans %}About Your Squadron{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                {{ form_start(form_template) }}
                                {{ form_errors(form_template) }}
                                {% for row in form_template %}
                                    {% if row.vars.name != "_token" %}
                                        <div style="padding: 5px 0px 5px 0px;">
                                            {{ form_label(row) }}
                                            {{ form_errors(row) }}
                                            {{ form_widget(row) }}
                                            {{ form_help(row) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <button class="btn btn-primary btn-flat"
                                        type="submit">{% trans %}Save Changes{% endtrans %}</button>
                                {{ form_end(form_template) }}
                            </div>
                        </div>
                        <!-- /.panel -->

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tags">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-tags margin-r-5 panel-title"></i> {% trans %}Tags Associated with Your Squadron{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                {% include 'admin/tags_selector.html.twig' %}
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="ranks">
                        <form action="{{ path('admin_update_ranks') }}" method="post">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-icon-manage-ranks margin-r-5 panel-title"></i> {% trans %}Customizing Rank Classifications{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="box box-warning">
                                    <div class="box-body">
                                        <div style="padding-top: 5px; padding-bottom: 10px;">
                                            {% trans %}custom_rank_instructions{% endtrans %}
                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <tbody><tr>
                                                <th style="width: 150px">{% trans %}Default Rank Name{% endtrans %}</th>
                                                <th>{% trans %}Custom Rank Name{% endtrans %}</th>
                                            </tr>
                                            {% for rank in ranks %}
                                                <tr>
                                                    <td style="vertical-align: middle"><i class="ed-asset ed-asset-icon-squadron-rank-{{ rank.assignedId+1 }} margin-r-5 text-orange"></i> <b>{{ rank.name|trans }}</b></td>
                                                    <td><input type="text" class="form-control input-sm" size="30" maxlength="30" name="new_rank[{{ rank.assignedId }}]" value="{{ custom_ranks_idx[rank.assignedId] }}"></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody></table>
                                        <input type="hidden" name="_token" value="{{ csrf_token('update_ranks') }}">
                                        <button type="submit" class="btn btn-flat btn-primary" style="margin-top: 10px">{% trans %}Save Changes{% endtrans %}</button>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                        <!-- /.panel -->
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="roles">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-squadrons margin-r-5 panel-title"></i> {% trans %}Customizing Commander Roles{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="jumbotron">
                                    <h1>// To Do</h1>
                                    <p>Placeholder for future addition</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
    $(() => {
        $(".tag-button-group").on('change', function (e) {
                e.preventDefault();
                cb = $(this).children(".tag-button");
                id = cb.data("tag-id");
                isChecked = cb.is(':checked');
                console.log('clicked on a button ' + id + '. checked: ' + isChecked);
                update_squadron_tags(id, isChecked);
        });

        function update_squadron_tags(id, check_flag) {
            $.ajax({
                type: "POST",
                url: "{{ path('ajax_tags') }}",
                data: {
                    _token: "{{ csrf_token('squadron_tags') }}",
                    id: id,
                    is_checked: check_flag
                },
                success: function (result) {
                    if(result.status != 200) {
                        $('#errorMessage').replaceWith(result.errorMessage);
                        $('#errorModal').modal('show');
                    }
                },
                error: function (result) {
                    console.log('Internal Error.');
                }
            });
        }
    });
</script>
{% endblock %}