{% extends 'base.html.twig' %}

{% block title %}{{ title|default('Squadron Settings')}}!{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-3">
            {% include 'squadron_profile.html.twig' %}
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">{% trans %}Squadron Details{% endtrans %}</a></li>
                    <li><a href="#tags" data-toggle="tab">{% trans %}Manage Tags</a>{% endtrans %}</li>
                    <li><a href="#roles" data-toggle="tab">{% trans %}Roles</a>{% endtrans %}</li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="details">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-squadrons margin-r-5 panel-title" style="font-size: 24px; vertical-align: middle"></i> {% trans %}About Your Squadron{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                {{ form_start(form_template) }}
                                {{ form_errors(form_template) }}
                                {% for row in form_template %}
                                    {% if row.vars.name != "_token" %}
                                        <div style="padding: 5px 0px 5px 0px;">
                                            {{ form_label(row) }}
                                            {{ form_errors(row) }}
                                            {{ form_widget(row) }}
                                            {{ form_help(row) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                                {{ form_end(form_template) }}
                            </div>
                        </div>
                        <!-- /.panel -->

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tags">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-tags margin-r-5 panel-title" style="font-size: 24px; vertical-align: middle"></i> {% trans %}Tags Associated with Your Squadron{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="jumbotron">
                                    <h1>// To Do</h1>
                                    <p>Placeholder for future addition</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="roles">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-squadrons margin-r-5 panel-title" style="font-size: 24px; vertical-align: middle"></i> {% trans %}Customizing Commander Roles{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="jumbotron">
                                    <h1>// To Do</h1>
                                    <p>Placeholder for future addition</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}
