{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block title %}{{ title|default('Squadron Settings')|trans }}{% endblock %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-3">
            {% include 'squadron_profile.html.twig' %}
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">{% trans %}Squadron Details{% endtrans %}</a></li>
                    <li><a href="#tags" data-toggle="tab">{% trans %}Manage Tags{% endtrans %}</a></li>
                    <li><a href="#ranks" data-toggle="tab">{% trans %}Ranks{% endtrans %}</a></li>
                    <li><a href="#roles" data-toggle="tab">{% trans %}Roles{% endtrans %}</a></li>
                    <li><a href="#invite-link" data-toggle="tab">{% trans %}Invite to Join{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="details">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-squadrons margin-r-5 panel-title"></i> {% trans %}About Your Squadron{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                {{ form_start(form_template) }}
                                {{ form_errors(form_template) }}
                                {% for row in form_template %}
                                    {% if row.vars.name != "_token" %}
                                        <div style="padding: 5px 0px 5px 0px;">
                                            {{ form_label(row) }}
                                            {{ form_errors(row) }}
                                            {{ form_widget(row) }}
                                            {{ form_help(row) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <button class="btn btn-primary btn-flat"
                                        type="submit">{% trans %}Save Changes{% endtrans %}</button>
                                {{ form_end(form_template) }}
                            </div>
                        </div>
                        <!-- /.panel -->

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tags">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-tags margin-r-5 panel-title"></i> {% trans %}Tags Associated with Your Squadron{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                {% include 'admin/tags_selector.html.twig' %}
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="ranks">
                        <form action="{{ path('admin_update_ranks') }}" method="post">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-icon-manage-ranks margin-r-5 panel-title"></i> {% trans %}Customizing Rank Classifications{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="box box-warning">
                                    <div class="box-body">
                                        <div style="padding-top: 5px; padding-bottom: 10px;">
                                            {% trans %}custom_rank_instructions{% endtrans %}
                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <tbody><tr>
                                                <th style="width: 150px">{% trans %}Default Rank Name{% endtrans %}</th>
                                                <th>{% trans %}Custom Rank Name{% endtrans %}</th>
                                            </tr>
                                            {% for rank in ranks %}
                                                <tr>
                                                    <td style="vertical-align: middle"><i class="ed-asset ed-asset-icon-squadron-rank-{{ rank.assignedId+1 }} margin-r-5 text-orange"></i> <b>{{ rank.name|trans }}</b></td>
                                                    <td><input type="text" class="form-control input-sm" size="30" maxlength="30" name="new_rank[{{ rank.assignedId }}]" value="{{ custom_ranks_idx[rank.assignedId] }}"></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody></table>
                                        <input type="hidden" name="_token" value="{{ csrf_token('update_ranks') }}">
                                        <button type="submit" class="btn btn-flat btn-primary" style="margin-top: 10px">{% trans %}Save Changes{% endtrans %}</button>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                        <!-- /.panel -->
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="roles">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="ed-asset ed-asset-lg ed-asset-icon-squadrons margin-r-5 panel-title"></i> {% trans %}Customizing Commander Roles{% endtrans %}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="jumbotron">
                                    <h1>// To Do</h1>
                                    <p>Placeholder for future addition</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="invite-link">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i
                                            class="fas fa-lg fa-sign-in-alt margin-r-5 panel-title"></i> {% trans %}Inviting new Commanders to join your Squadron{% endtrans %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <figure>
                                    <img src="{{ asset('img/ed-assets/invite_to_join.png') }}" width="100%"
                                         style="margin-bottom: 8px;">
                                    <figcaption
                                            style="font-size: smaller;">{% trans %}figure_caption_invite{% endtrans %}</figcaption>
                                </figure>
                                <hr>
                                <p>{% trans %}invite_link1{% endtrans %}</p>
                                <input id="invite_link" type="checkbox" data-toggle="toggle" data-size="mini"
                                       data-on="{% trans %}Yes{% endtrans %}" data-off="{% trans %}No{% endtrans %}"
                                       data-onstyle="success" data-offstyle="danger" name="invite_link_flag"
                                       {% if squad.inviteLink %}checked{% endif %}>
                                <label class="control-label" for="invite_link"
                                       style="margin-left: 5px;">{% trans %}Enable invite link for new commanders to join this squadron{% endtrans %}</label>
                                <div id="invite-url"
                                     style="display: {% if squad.inviteLink %}block{% else %}none{% endif %}; padding-top: 8px;">
                                    <form><label class="control-label"
                                                 for="join_link">{% trans %}invite_link2{% endtrans %}:</label>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input id="join_link" class="form-control"
                                                           value="{{ baseUrl }}{{ path('app_invite_join', {'slug': squad.idCode, '_locale': app.request.attributes.get('_locale')}) }}"
                                                           disabled="disabled">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-primary"
                                                                onclick="copyToClipboard('#join_link')"><i
                                                                    class="fa fa-copy"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    $().ready(function () {
        $('#invite_link').change(function (e) {
            e.preventDefault();
            if ($('#invite_link').is(':checked')) {
                $('#invite-url').show();
                update_invite_link({{ squad.id }}, true);
            } else {
                $('#invite-url').hide();
                update_invite_link({{ squad.id }}, false);
            }
        });

        function update_invite_link(id, check_flag) {
            $.ajax({
                type: "POST",
                url: "{{ path('ajax_invite_link') }}",
                data: {
                    _token: "{{ csrf_token('invite_link') }}",
                    id: id,
                    is_checked: check_flag
                },
                success: function (result) {
                    if (result.status != 200) {
                        $('#errorMessage').replaceWith(result.errorMessage);
                        $('#errorModal').modal('show');
                    }
                },
                error: function (result) {
                    console.log('Internal Error.');
                }
            });
        }

    });

    $(() => {
        $(".tag-button-group").on('change', function (e) {
                e.preventDefault();
                cb = $(this).children(".tag-button");
                id = cb.data("tag-id");
                isChecked = cb.is(':checked');
                console.log('clicked on a button ' + id + '. checked: ' + isChecked);
                update_squadron_tags(id, isChecked);
        });

        function update_squadron_tags(id, check_flag) {
            $.ajax({
                type: "POST",
                url: "{{ path('ajax_tags') }}",
                data: {
                    _token: "{{ csrf_token('squadron_tags') }}",
                    id: id,
                    is_checked: check_flag
                },
                success: function (result) {
                    if(result.status != 200) {
                        $('#errorMessage').replaceWith(result.errorMessage);
                        $('#errorModal').modal('show');
                    }
                },
                error: function (result) {
                    console.log('Internal Error.');
                }
            });
        }
    });
</script>
    <script>
        function copyToClipboard(elementId) {
            var temp = $("<input>");
            $("body").append(temp);
            temp.val($(elementId).val()).select();
            document.execCommand("copy");
            temp.remove();
        }
    </script>
{% endblock %}