{% extends 'base.html.twig' %}

{% block title %}{% trans %}Squadron Announcements{% endtrans %}{% endblock %}

{% block content %}
    <div class="content">
    {% for msg in motd %}
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title text-warning"><i class="fas fa-exclamation-triangle text-warning margin-r-5"> </i>{{ msg.title }}</h3>
                <div class="pull-right clearfix">
                    {{ msg.createdAt|ago }}
                </div>
            </div>
            <div class="box-body">
                {{ msg.message|markdown }}
            </div>
            <div class="box-footer">
                <div class="clearfix pull-right">{% trans %}Posted by Site Administrator{% endtrans %}</div>
                <div class="announcement-action">
                    <span><a href="#" class="read-button" data-id="{{ msg.id }}" data-motd="1"
                             data-marked="{{ msg.read_flag }}"><i
                                    class="{% if msg.read_flag %}far fa-check-square{% else %}far fa-square{% endif %}"></i> Mark as Read</a> </span>
                </div>
            </div>
        </div>
        <!-- /.box -->
    {% endfor %}
    {% for article in articles %}
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">{% if article.pinned_flag == true %}<i class="fas fa-thumbtack text-warning margin-r-5"> </i>{% endif %}{{ article.title }}</h3>
                <div class="pull-right clearfix">
                    {{ article.publish_in|ago }}
                </div>
            </div>
            <div class="box-body">
                {{ article.message|markdown }}
            </div>
            <div class="box-footer">
                <div class="clearfix pull-right">{% trans with {"%author%": article.author} %}Posted by CMDR %author%{% endtrans %}</div>
                <div class="announcement-action">
                    <span>11 <a href="#"> <i class="far fa-thumbs-up text-white"></i> Like</a> </span>
                    <span><a href="#"><i class="far fa-comments text-white"></i> Comments</a> </span>
                    <span><a href="#" class="read-button" data-id="{{ article.id }}" data-motd="0"
                             data-marked="{{ article.read_flag }}"><i
                                    class="{% if article.read_flag %}far fa-check-square{% else %}far fa-square{% endif %}"></i> Mark as Read</a> </span>
                </div>
            </div>
        </div>
        <!-- /.box -->
    {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".read-button").click(function (e) {
            e.preventDefault();
            mark_read($(this), $(this).data("id"), $(this).data("motd"), $(this).data("marked"));
        });

        function mark_read(e, id, motd, mark_flag) {
            $.ajax({
                type: "POST",
                url: "{{ path('ajax_mark_read') }}",
                data: {
                    _token: "{{ csrf_token('mark_read') }}",
                    id: id,
                    motd: motd,
                    mark_flag: mark_flag
                },
                success: function (result) {
                    if (result.status == 200) {
                        e.data('marked', result.new_flag);
                        i = e.children();
                        if (result.new_flag == 1) {
                            i.removeClass("far fa-square");
                            i.addClass("far fa-check-square");
                        } else {
                            i.removeClass("far fa-check-square");
                            i.addClass("far fa-square");
                        }
                    } else {
                        console.log('Error: ' + result.errorMessage);
                    }
                },
                error: function (result) {
                    console.log('Error thrown.');
                }
            });
        }

    </script>
{% endblock %}

