<!-- Sidebar Menu -->
{% if is_granted("ROLE_USER")  %}
    {% set menu = menuBuilder.userMenu() %}
    {#{{ dump(app.token.roles) }}#}
    {% set currentRoute = app.request.attributes.get('_route') %}
    <ul class="sidebar-menu" data-widget="tree">
    {% for item in menu %}
        {% if item.header is defined %}
            <li class="header">{{ item.header|trans|upper }}</li>
        {% else %}
            {% set isGranted = true %}
            {% if item.roles is defined %}
                {% set isGranted = false %}
                {% for role in item.roles %}
                    {% if is_granted(role) %}
                        {% set isGranted = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% set isCurrent = false %}
            {% if item.routes is defined and currentRoute in item.routes %}
                {% set isCurrent = true %}
            {% endif %}
            {% if isGranted %}
                <li {% if (item.route is defined and item.route == currentRoute) or isCurrent == true %}class="active"{% endif %}>
                    <a href="{% if item.route is defined and item.route is not empty %}{{ path(item.route) }}{% else %}#{% endif %}">{% if item.icon %}
                        <i class="{{ item.icon }}"></i>{% endif %}
                        <span>{{ item.item|trans }}</span> {% if item.star is defined and item.star == true %}<span
                                class="pull-right-container"><small class="label pull-right bg-green"><i
                                        class="fa fa-star"></i></small>{% endif %}{% if item.counter is defined and item.counter == true and item.counter_value > 0 %}<span
                                    class="pull-right-container"{% if item.counter_title is defined %} data-toggle="tooltip" data-placement="right" title="{{ item.counter_title }}"{% endif %}><small
                                        class="label pull-right bg-{{ item.counter_color|default('orange') }}">{{ item.counter_value }}</small>{% endif %}
                    </a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>

    {% set menu = menuBuilder.adminMenu() %}
    {% set printHeader = true %}
    <ul class="sidebar-menu" data-widget="tree">
    {% for item in menu %}
        {% set isGranted = true %}
        {% if item.roles is defined %}
            {% set isGranted = false %}
            {% for role in item.roles %}
                {% if is_granted(role) %}
                    {% set isGranted = true %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% set isCurrent = false %}
        {% if item.routes is defined and currentRoute in item.routes %}
            {% set isCurrent = true %}
        {% endif %}
        {% if isGranted %}
            {% if printHeader %}
                <li class="header">{{ "Administration"|trans|upper }}</li>
                {% set printHeader = false %}
            {% endif %}
            <li {% if (item.route is defined and item.route == currentRoute) or isCurrent == true %}class="active"{% endif %}>
                <a href="{% if item.route is defined and item.route is not empty %}{{ path(item.route) }}{% else %}#{% endif %}">{% if item.icon %}
                    <i class="{{ item.icon }}"></i>{% endif %}
                    <span>{{ item.item|trans }}</span> {% if item.star is defined and item.star == true %}<span
                            class="pull-right-container"><small class="label pull-right bg-green"><i
                                    class="fa fa-star"></i></small>{% endif %}{% if item.counter is defined and item.counter == true and item.counter_value > 0 %}<span
                                class="pull-right-container"{% if item.counter_title is defined %} data-toggle="tooltip" data-placement="right" title="{{ item.counter_title }}"{% endif %}><small
                                    class="label pull-right bg-{{ item.counter_color|default('orange') }}">{{ item.counter_value }}</small>{% endif %}
                </a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
<!-- /.sidebar-menu -->