<!-- Squadron Profile box -->
<div class="box box-warning">
    <div class="box-body box-profile">
        <img class="profile-squadron-img img-responsive" src="{{ asset('img/ed-assets/thumbnails') }}/{% if squad.power is null or squad.power is empty %}{{ squad.faction.logo }}{% else %}{{ squad.power.logo }}{% endif %}" alt="Squadron Logo">

        <h3 class="profile-username text-center">{{ squad.name }}</h3>
        <strong><i class="fa fa-align-left margin-r-5"></i> Description</strong>
        <p class="text-muted">
            {{ squad.description }}
        </p>
        <hr>
        <strong><i class="ed-asset-icon-surface_port_pm margin-r-5"></i> Home Base</strong>
        <p class="text-muted">
            {{ squad.homebase }}
        </p>
        <hr>
        <strong><i class="ed-asset-icon-manage-ranks margin-r-5"></i> Squadron Leader</strong>
        <p class="text-muted">
            CMDR {{ squad.admin.commandername }}
        </p>
        <hr>
        <strong><i class="ed-asset-icon-elite-dangerous-minimalistic margin-r-5"></i> Faction / Superpower Affiliations</strong>
        <p class="text-muted">
            {{ squad.faction.name|default('No Faction Allied') }} / {{ squad.power.name|default('No Power Allied') }}
        </p>
        <hr>
        <strong><i class="ed-asset ed-asset-icon-members margin-r-5"></i> Membership</strong>
        <p class="text-muted">
            Total Members: {{ squad.user.count }}<br>
        </p>
        <hr>
        <strong><i class="ed-asset ed-asset-icon-tags margin-r-5"></i> Tags</strong>
        <p class="text-muted">
            {% for tag in squad.squadronTags %}
            <span class="badge {{ tag.tag.badgeColor }}">{{ tag.tag.name }}</span>
            {% endfor %}
        </p>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
