<!-- Squadron Profile box -->
<div class="box box-warning">
    <div class="box-body box-profile">
        <img class="profile-squadron-img img-responsive" src="{{ asset('img/ed-assets/thumbnails') }}/{% if squad.power is null or squad.power is empty %}{{ squad.faction.logo }}{% else %}{{ squad.power.logo }}{% endif %}" alt="Squadron Logo">

        <h3 class="profile-username text-center">{{ squad.name }}</h3>
        <strong><i class="fa fa-align-left margin-r-5"></i> {% trans %}Description{% endtrans %}</strong>
        <p class="text-muted">
            {{ squad.description }}
        </p>
        <hr>
        <strong><i class="ed-asset-icon-surface_port_pm margin-r-5"></i> {% trans %}Home Base{% endtrans %}</strong>
        <p class="text-muted">
            {{ squad.homebase }}
        </p>
        <hr>
        <strong><i class="ed-asset-icon-manage-ranks margin-r-5"></i> {% trans %}Squadron Leader{% endtrans %}</strong>
        <p class="text-muted">
            CMDR {{ squad.admin.commandername }}
        </p>
        <hr>
        <strong><i class="ed-asset-icon-elite-dangerous-minimalistic margin-r-5"></i> {% trans %}Faction / Superpower Affiliations{% endtrans %}
        </strong>
        <p class="text-muted">
            {{ squad.faction.name|default('No Faction Allied')|trans }}
            / {{ squad.power.name|default('No Power Allied')|trans }}
        </p>
        <hr>
        <strong><i class="ed-asset ed-asset-icon-members margin-r-5"></i>{% trans %}Membership{% endtrans %}</strong>
        <p class="text-muted">
            {% trans %}Total Members{% endtrans %}: {{ squad.user.count }}<br>
        </p>
        <hr>
        <strong><i class="ed-asset ed-asset-icon-tags margin-r-5"></i> {% trans %}Tags{% endtrans %}</strong>
        <p class="text-muted">
            {% for tag in squad.squadronTags %}
                <span class="badge {{ tag.tag.badgeColor }}">{{ tag.tag.name|trans }}</span>
            {% endfor %}
        </p>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
