<div class="box-body" id="filter-options" style="padding: 0; display: {% if filter %}block{% else %}none{% endif %};">
    <form action="{{ path('app_player_reports') }}" method="post" autocomplete="off">
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group-sm">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon"><i class="fas fa-search"></i></div>
                            <input type="text" class="form-control" id="keyword" name="filter[keyword]"
                                   value="{{ filter.keyword|default('') }}"
                                   placeholder="{% trans %}Keyword{% endtrans %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group input-group-sm" style="user-select: auto;">
                        <span class="input-group-addon" style="user-select: auto;"><i
                                    class="fas fa-calendar-alt"></i></span>
                        <input type="text" id="start-date" class="form-control" name="filter[start_date]"
                               autocomplete="off"
                               value="{{ filter.start_date|default('') }}"
                               placeholder="{% trans %}Start Date{% endtrans %}" style="user-select: auto;">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group input-group-sm" style="user-select: auto;">
                        <span class="input-group-addon" style="user-select: auto;"><i
                                    class="fas fa-calendar-alt"></i></span>
                        <input type="text" id="end-date" class="form-control" name="filter[end_date]" autocomplete="off"
                               value="{{ filter.end_date|default('') }}" placeholder="{% trans %}End Date{% endtrans %}"
                               style="user-select: auto;">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="hidden" name="report" value="{{ report_id }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('report_filter') }}">
                    <button type="submit" class="btn btn-sm btn-primary pull-right"
                            style="user-select: auto;">{% trans %}Apply Filter{% endtrans %}</button>
                    <button type="submit" class="btn btn-sm btn-default" name="reset" value="1"
                            style="user-select: auto;">{% trans %}Reset{% endtrans %}</button>
                </div>
            </div>
        </div>
    </form>
</div>
